@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f4deb3; /* fallback for old browsers */
}

.form {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blurred-background {
  position: relative;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}
